.user-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.user-card {
    outline: 1px black solid;
    padding: 10px;
    text-align: left;
    box-shadow: 5px 5px 0px #888888;

    img {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .user-card {
        width: 45%;
    }
}

@media only screen and (min-width: 1000px) {
    .user-card {
        width: 30%;
    }
}